{% extends "dashboard/admin/base.html" %}
{% load static %}

{% block product_block %}در حال ایجاد محصول{% endblock product_block %}



{% block admin_dashboard_body %}
<div class="col-lg-9">
    <!-- Card -->
    <div class="card">
      <!-- Header -->
      <div class="card-header border-bottom">
        <h5 class="card-header-title">ساخت محصول</h5>
      </div>
      <!-- End Header -->

      <!-- Body -->
      <form method='post' enctype="multipart/form-data">
        {% csrf_token %}
        <div class="card-body">
            <div class="row d-flex ">
              <div class="col-md-6 mb-3">
                <label for="validationValidInput1">نام محصول</label>
                {{form.title}}
                {% if form.title.errors %}
                    {% for error in form.title.errors %}
                        <div class="alert alert-danger text-center mt-2">
                            {{ error }}
                        </div>
                    {% endfor %}
                {% endif %}
              </div>

              <div class="col-md-6 mb-3">
                <label for="validationValidInput1">slug محصول</label>
                {{form.slug}}
                {% if form.slug.errors %}
                    {% for error in form.slug.errors %}
                        <div class="alert alert-danger text-center mt-2">
                            {{ error }}
                        </div>
                    {% endfor %}
                {% endif %}
              </div>

              <div class="col-md-6 mb-3">
                <label for="validationValidInput1">تعداد</label>
                {{form.stock}}
                {% if form.stock.errors %}
                    {% for error in form.stock.errors %}
                        <div class="alert alert-danger text-center mt-2">
                            {{ error }}
                        </div>
                    {% endfor %}
                {% endif %}
              </div>

              <div class="col-md-6 mb-3">
                <label for="validationValidSelect1">وضعیت</label>
                {{form.status}}
                {% if form.status.errors %}
                    {% for error in form.status.errors %}
                        <div class="alert alert-danger text-center mt-2">
                            {{ error }}
                        </div>
                    {% endfor %}
                {% endif %}
              </div>
              <div class="col-md-6 mb-3">
                <label for="validationValidSelect1">دسته بندی</label>
                {{form.category}}
                {% if form.category.errors %}
                    {% for error in form.category.errors %}
                        <div class="alert alert-danger text-center mt-2">
                            {{ error }}
                        </div>
                    {% endfor %}
                {% endif %}
              </div>
              <div class="col-md-4 mb-3">
                <label for="validationValidInput1">قیمت</label>
                {{form.price}}
                {% if form.price.errors %}
                    {% for error in form.price.errors %}
                        <div class="alert alert-danger text-center mt-2">
                            {{ error }}
                        </div>
                    {% endfor %}
                {% endif %}
              </div>
              <div class="col-md-2 mb-3">
                <label for="validationValidInput1">درصد تخفیف</label>
                {{form.discount}}
                {% if form.discount.errors %}
                    {% for error in form.discount.errors %}
                        <div class="alert alert-danger text-center mt-2">
                            {{ error }}
                        </div>
                    {% endfor %}
                {% endif %}
              </div>

              <div class="col-md-12 mb-3">
                <label for="validationValidSelect1">توضیحات</label>
                <div class="quill-custom">
                  {{form.description}}
                  
                  {% if form.description.errors %}
                    {% for error in form.description.errors %}
                        <div class="alert alert-danger text-center mt-2">
                            {{ error }}
                        </div>
                    {% endfor %}
                  {% endif %}
                  
                </div>
              </div>

              <div class="col-md-12 mb-3">
                <label for="validationValidFileInput1">تصویر محصول:  </label>
                <br>
                {{form.image}}
                {% if form.description.errors %}
                    {% for error in form.image.errors %}
                        <div class="alert alert-danger text-center mt-2">
                            {{ error }}
                        </div>
                    {% endfor %}
                  {% endif %}
              </div>

          </div>
        </div>
        <div class="card-footer">
          <div class=" d-flex pt-5 justify-content-end">
            <a class="btn btn-secondary ms-3" href="{% url 'dashboard:admin:products' %}">بازگشت</a>
            <button class="btn btn-primary ms-3" type="submit">ایجاد محصول</button>
          </div>
        </div>
      </form>


    <!-- End Body -->
  </div>

  <!-- End Card -->
{% endblock admin_dashboard_body %}



{% block extra_js %}
<script>
  $("#adminProduct").addClass('active');

  $(document).ready(function() {
      setTimeout(function() {
          $('.alert.alert-danger').fadeOut();
      }, 6000);
  });
</script>
<script src="{% static 'ckeditor/ckeditor-init.js' %}"></script>
<script src="{% static 'ckeditor/ckeditor/ckeditor.js' %}"></script>

{% endblock extra_js %}




{% block breadcrumb %}
<li class="breadcrumb-item">حساب</li>
<li class="breadcrumb-item">
  داشبورد ادمین
</li>

<li class="breadcrumb-item active" aria-current="page">
    ایجاد محصول
</li>
{% endblock breadcrumb %}
