{% extends "dashboard/customer/base.html" %}
{% load static %}


{% block customer_dashboard_body %}
<div class="col-lg-9">
  <!-- Card -->
  {% comment %} <div class="card">
    <!-- Header -->
    <div class="card-header border-bottom">
      <h5 class="card-header-title">آدرس های من</h5>
    </div>
    <!-- End Header -->

    <!-- Body -->
    <div class="card-body">
      <div class="row">
        <div class="col-sm-12 mb-5 mb-sm-7">
          <!-- Radio Check -->
          <div class=" w-100 h-100">
            <label class="" for="billingRadio1">
              <span class="h5 d-block">آدرس قبض #1</span>

              <span class="d-block mb-2"> 45 تراس روکر چرخ لاترون KW5 8NW، لندن UK </span>
              <a class="btn btn-white btn-xs" href="#">
                <i class="bi-pencil-fill me-1"></i> آدرس را ویرایش
                کنید
              </a>
            </label>
            
          </div>
          
          <!-- End Radio Check -->
        </div>
        <!-- End Col -->



        <div class="col-sm-12 mb-5 mb-sm-7">
          <!-- Card -->
          <a class="card card-dashed card-centered" href="javascript:;" data-bs-toggle="modal"
            data-bs-target="#accountAddAddressModal">
            <div class="card-body card-dashed-body py-8">
              <img class="avatar avatar-lg avatar-4x3 mb-2" src="{% static 'svg/illustrations/oc-address.svg' %}"
                alt="Image Description" />
              <span class="d-block"><i class="bi-plus"></i> یک آدرس جدید اضافه کنید</span>
            </div>
          </a>
          <!-- End Card -->
        </div>
        <!-- End Col -->
      </div>
      <!-- End Row -->


    </div>
    <!-- End Body -->
  </div> {% endcomment %}
  <!-- End Card -->

  <div class="card">
    <!-- Header -->
    <div class="card-header border-bottom">
      
      <div class="d-flex justify-content-between align-items-center">
        <h5 class="card-header-title">آدرس های من</h5>

        <a class="btn btn-primary" href="{% url 'dashboard:customer:address_create' %}">افزودن</a>

      </div>
    </div>
  
    <!-- Body -->
    <div class="card-body">
      <div class="row">
        {% for address in addresses %}
        <div class="col-sm-12 mb-5 mb-sm-7">
          <!-- Address Item -->
          <label for="billingRadio{{ forloop.counter }}" class="w-100">
            <span class="h5 d-block">آدرس قبض #{{ forloop.counter }}</span>
            <span class="d-block mb-2">{{ address.ostan }}, {{ address.shahrestan }}, {{ address.address }}
            <br>
              کد پستی :{{ address.postal_code }}
            </span>
    
            <a class="btn btn-white btn-xs" href="{% url 'dashboard:customer:address_update' address.id %}">
              <i class="bi-pencil-fill me-1"></i> آدرس را ویرایش کنید
            </a>
          </label>
        </div>
        {% endfor %}
  
        <div class="col-sm-12 mb-5 mb-sm-7">
          <!-- Add Address Card -->
          <a class="card card-dashed card-centered" href="{% url 'dashboard:customer:address_create' %}">
            <div class="card-body card-dashed-body py-8">
              <img class="avatar avatar-lg avatar-4x3 mb-2" src="{% static 'svg/illustrations/oc-address.svg' %}" alt="Image Description" />
              <span class="d-block"><i class="bi-plus"></i> یک آدرس جدید اضافه کنید</span>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
  
</div>
<!-- End Col -->
{% endblock customer_dashboard_body %}




{% block breadcrumb %}
<li class="breadcrumb-item">حساب</li>
<li class="breadcrumb-item">داشبورد کاربری</li>
<li class="breadcrumb-item" aria-current="page">
    آدرس ها
</li>
{% endblock breadcrumb %}



{% block extra_js %}
<script>
  $("#customerAddress").addClass('active');

  $(document).ready(function() {
    setTimeout(function() {
        $('.alert.alert-danger').fadeOut();
    }, 3000);

  });


</script>

{% endblock extra_js %}

