{% extends "_base.html" %}
{% load number_filters %}
{% load static %}



{% block title %}
cart summary
{% endblock title %}

{% block body %}
  <!-- ========== MAIN CONTENT ========== -->
<main id="content" role="main">
    <!-- Content -->
    <div class="container content-space-1 content-space-lg-2">
      <div class="row">
        <div class="col-lg-8 mb-7 mb-lg-0 ">
          <!-- Heading -->
          <div class="d-flex justify-content-between align-items-end border-bottom pb-3 mb-7">
            <h1 class="h3 mb-0">سبد خرید</h1>
            <span>{{cart.cart_total_items}} مورد</span>
          </div>
          <!-- End Heading -->

          <!-- Form -->
          <div>
            <!-- Shopping Cart Items -->
            <ul class="list-group list-group-flush mb-1">
              {% for item in cart.get_items %}
              <!-- Item -->
              <li class="list-group-item d-flex align-items-center border-bottom">
                <div class="d-flex w-100">
                  <!-- Product Image -->
                  <div class="flex-shrink-0 ps-3">
                    <img src="{{ item.product_obj.image.url }}" alt="Image of {{ item.product_obj.title }}" style="max-width: 120px; height: auto;">
                  </div>
                  
                  <!-- Product Details -->
                  <div class="flex-grow-1">
                    <div class="d-flex justify-content-between mb-2">
                      <div>
                        <h5 class="mb-1"><a class="text-dark" href={%url 'shop:product_detail' item.product_obj.slug %}>{{ item.product_obj.title }}</a></h5>
                        <div class="text-muted">
                          <span class="small">دسته بندی:</span> 
                          {% for category in item.product_obj.category.all %}
                            <span class="fw-semibold small" >{{ category.title }}</span>
                            {% if not forloop.last %}, {% endif %}
                          {%empty%}
                          <span class="fw-semibold small">بدون دسته بندی</span>
                          {% endfor %}
                        </div>
                        <div class="text-muted">
                          <span class="small">قیمت هر واحد:</span>
                          <span class="fw-semibold small">{{item.product_obj.show_raw_price|format_persian_price}}</span>
                        </div>
                      </div>
                      
                      <!-- Product Price -->
                      <div class="text-end">
                        <span class="h5 d-block mb-1">{{ item.total_price|format_persian_price }} تومان</span>
                        <div class="d-block d-sm-none">
                          <span class="text-muted">Price: $29.99</span>
                        </div>
                      </div>
                    </div>

                    <!-- Quantity Selector and Actions -->
                    <div class="d-flex justify-content-between align-items-center">
                      <!-- Quantity Selector -->
                      <select class="form-select form-select-sm" style="width: 80px;" onchange='changeProductQuantity({{item.product_obj.id}}, this.value)'>
                        {% with ''|center:item.product_obj.stock as range %}
                          {% for _ in range %}
                            <option value="{{ forloop.counter }}" {% if forloop.counter == item.quantity %}selected{% endif %}>
                              {{ forloop.counter }}
                            </option>
                          {% endfor %}
                        {% endwith %}
                      </select>

                      <!-- Action Buttons -->
                      <div class="d-flex gap-2">
                        <button class="btn btn-outline-danger btn-sm" onclick='deleteCartProduct({{item.product_obj.id}})' aria-label="Remove item from cart" style="font-size: 0.75rem; padding: 0.25rem 0.5rem;">
                          <i class="bi-trash me-1"></i> حذف
                        </button>
                        <a class="btn btn-outline-secondary btn-sm" href="#" aria-label="Add to wishlist" style="font-size: 0.75rem; padding: 0.25rem 0.5rem;">
                          <i class="bi-heart-fill me-1"></i> جزو علایق
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
              {% empty %}
              <div class="w-md-75 w-lg-50 text-center mx-md-auto">
                <div class="mb-5">
                  <img class="img-fluid" src="{% static 'svg/illustrations/oc-empty-cart.svg' %}" alt="Image Description" style="width: 15rem;">
                </div>

                <div class="mb-5">
                  <h1 class="h2">سبد خرید شما در حال حاضر خالی است</h1>
                  <p>قبل از شروع تسویه حساب، باید محصولاتی را به سبد خرید خود اضافه کنید. در صفحه "فروشگاه" ما محصولات جالب زیادی پیدا خواهید کرد.</p>
                </div>

                <a class="btn btn-primary btn-transition rounded-pill px-6" href="{% url "shop:product_list" %}">شروع به خرید کنید</a>
              </div>
              {% endfor %}
            </ul> 
            

            <!-- End List Group -->

            <div class="d-sm-flex justify-content-end">
              <a class="link" href="{% url "shop:product_list" %}">
                به خرید ادامه دهید <i class="bi-chevron-left small ms-1"></i>
              </a>
            </div>
          </div>
          <!-- End Form -->
        </div>
        <!-- End Col -->

        <div class="col-lg-4  ">
          <div class="ps-lg-4">
            <!-- Card -->
            {% if not cart.is_empty %}
            <div class="card card-sm shadow-sm mb-4">
              <div class="card-body">
                <div class="border-bottom pb-4 mb-4">
                  <h3 class="card-header-title">خلاصه هزینه</h3>
                </div>
                <form>

                  <div class="d-grid gap-3 mb-4">
                    <dl class="row">
                      <dt class="col-sm-6">مالیات</dt>
                      <dd class="col-sm-12 text-sm-end mb-0">به همراه 9% در هنگام پرداخت</dd>
                    </dl>
                    <!-- End Row -->

                    <dl class="row">
                      <dt class="col-sm-6">جمع</dt>
                      <dd class="col-sm-12 text-sm-end mb-0">{{cart.cart_total_price|format_persian_price}} تومان</dd>
                    </dl>
                    <!-- End Row -->
                  </div>

                  <div class="d-grid">
                    <a class="btn btn-primary btn-lg" href="{% url 'order:order_summary' %}">ثبت سفارش</a>
                  </div>
                </form>
              </div>
              <!-- End Card -->
            </div>
            {% endif %}

            <!-- Media -->
            <div class="d-flex align-items-center">
              <div class="flex-shrink-0">
                <div class="svg-icon svg-icon-sm text-primary">
                  <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd"
                      d="M22.1671 18.1421C22.4827 18.4577 23.0222 18.2331 23.0206 17.7868L23.0039 13.1053V5.52632C23.0039 4.13107 21.8729 3 20.4776 3H8.68815C7.2929 3 6.16183 4.13107 6.16183 5.52632V9H13C14.6568 9 16 10.3431 16 12V15.6316H19.6565L22.1671 18.1421Z"
                      fill="#035A4B" />
                    <path opacity="0.3" fill-rule="evenodd" clip-rule="evenodd"
                      d="M1.98508 18V13C1.98508 11.8954 2.88051 11 3.98508 11H11.9851C13.0896 11 13.9851 11.8954 13.9851 13V18C13.9851 19.1046 13.0896 20 11.9851 20H4.10081L2.85695 21.1905C2.53895 21.4949 2.01123 21.2695 2.01123 20.8293V18.3243C1.99402 18.2187 1.98508 18.1104 1.98508 18ZM5.99999 14.5C5.99999 14.2239 6.22385 14 6.49999 14H11.5C11.7761 14 12 14.2239 12 14.5C12 14.7761 11.7761 15 11.5 15H6.49999C6.22385 15 5.99999 14.7761 5.99999 14.5ZM9.49999 16C9.22385 16 8.99999 16.2239 8.99999 16.5C8.99999 16.7761 9.22385 17 9.49999 17H11.5C11.7761 17 12 16.7761 12 16.5C12 16.2239 11.7761 16 11.5 16H9.49999Z"
                      fill="#035A4B" />
                  </svg>

                </div>
              </div>
              <div class="flex-grow-1 ms-2">
                <span class="small me-1">نیاز به پشتیبانی دارید؟</span>
                <a class="link small" href="{% url "pages:contact_us" %}">ارسال تیکت</a>
              </div>
            </div>
            <!-- End Media -->
          </div>
        </div>
        <!-- End Col -->
      </div>
      <!-- End Row -->
    </div>
    <!-- End Content -->
</main>
  <!-- ========== END MAIN CONTENT ========== -->
{% endblock body %}


{% block extra_js %}

{% endblock extra_js %}