{% extends "_base.html" %}

{% block body %}

{% if validlink %}
  <!-- ========== MAIN CONTENT ========== -->
  <main id="content" role="main">
    <!-- Form -->
    <div class="container content-space-3 content-space-t-lg-4 content-space-b-lg-3">
      <div class="flex-grow-1 mx-auto" style="max-width: 28rem;">
        <!-- Heading -->
        <div class="text-center mb-5 mb-md-7">
          <h1 class="h2">فرم تغییر رمز عبور</h1>
          <p>برای تغییر رمز کافیست فرم زیر را پر نمایید</p>
        </div>
        <!-- End Heading -->

        <!-- Form -->
        <form method="post">
          {% csrf_token %}

          <!-- Form -->
          <div class="mb-3">
            <label class="form-label" for="new_password1">رمز عبور جدید</label>

            <div class="input-group input-group-merge" data-hs-validation-validate-class>
              <input type="password" class="js-toggle-password form-control form-control-lg text-center" name="new_password1"
                id="new_password1" placeholder="*********"
                aria-label="8+ characters required" required>
    
            </div>

          </div>
          <!-- End Form -->

          <!-- Form -->
          <div class="mb-3">
            <label class="form-label" for="new_password1">تکرار رمز عبور جدید</label>

            <div class="input-group input-group-merge" data-hs-validation-validate-class>
              <input type="password" class="js-toggle-password form-control form-control-lg text-center" name="new_password2"
                id="new_password2" placeholder="*********"
                aria-label="8+ characters required" required>
    
            </div>

          </div>
          <!-- End Form -->

        {% if form.errors %}
          <div id='show_errors'>
            {% for field in form %}
            {% for error in field.errors %}
            <div class="alert alert-danger text-center">
              {{ error }}
            </div>
            {% endfor %}
            {% endfor %}
          </div>
        {% endif %}



          <div class="d-grid mb-3">
            <button type="submit" class="btn btn-primary btn-lg">ارسال</button>
          </div>

          <div class="text-center">
            <p>باز گشت به  <a class="link" href="{% url 'pages:home' %}">صفحه اصلی</a></p>
          </div>
        </form>
        <!-- End Form -->
      </div>
    </div>
    <!-- End Form -->
  </main>
  <!-- ========== END MAIN CONTENT ========== -->
{% else %}
<div class='text-center my-5'>
  
  <p class="text-danger fw-bold">لینک نامتعبر  یا منقضی شده است</p>
  
  <a  class="btn btn-info " href="{% url 'pages:home' %}">باگشت به صفحه اصلی</a>
<div>

{% endif %}


{% endblock body %}


{% block extra_js %}
<script>
  // Function to hide the error message after 3 seconds
  function hideErrorMessage() {
    var errorMessage = document.getElementById('show_errors');
    if (errorMessage) {
      errorMessage.style.display = 'none';
    }

  }

  // Set a timeout to hide the error message after 3 seconds
  setTimeout(hideErrorMessage, 3000);
</script>
{% endblock extra_js %}




