{% extends "_base.html" %}

{% block body %}

  <!-- ========== MAIN CONTENT ========== -->
  <main id="content" role="main">

    <!-- Form -->
    <div class="container content-space-3 content-space-t-lg-4 content-space-b-lg-3">
      <div class="flex-grow-1 mx-auto" style="max-width: 28rem;">
        <!-- Heading -->
        <div class="text-center mb-5 mb-md-7">
          <h1 class="h2">رمز عبور را فراموش کرده اید؟</h1>
          <p>آدرس ایمیل خود را در زیر وارد کنید و ما شما را به مسیر درست برگردانیم.</p>
        </div>
        <!-- End Heading -->

        <!-- Form -->
        <form method='post'>
          {% csrf_token %}
          <!-- Form -->
          <div class="mb-3">
            <div class="d-flex justify-content-between align-items-center">
              <label class="form-label" for="signupSimpleResetPasswordEmail" tabindex="0">ایمیل شما</label>

              <a class="form-label-link" href="{%url 'accounts:login'%}">
                بازگشت به صفحه ورود
              </a>
            </div>

            <input type="email" class="form-control form-control-lg text-center" name="email"
              id="signupSimpleResetPasswordEmail" tabindex="1" placeholder="ایمیل خود را وارد نمایید"
              aria-label="Enter your email address" required>

          </div>
          <!-- End Form -->

          <div class="d-grid mb-3">
            <button type="submit" class="btn btn-primary btn-lg">ارسال</button>
          </div>

          {% if form.errors %}
            <div id='show_errors'>
              {% for field in form %}
              {% for error in field.errors %}
              <div class="alert alert-danger text-center">
                {{ error }}
              </div>
              {% endfor %}
              {% endfor %}
            </div>
          {% endif %}

        </form>
        <!-- End Form -->
      </div>
    </div>
    <!-- End Form -->
  </main>
  <!-- ========== END MAIN CONTENT ========== -->
{% endblock body %}





{% if form.errors %}
<div id='show_errors'>
  {% for field in form %}
  {% for error in field.errors %}
  <div class="alert alert-danger text-center">
    {{ error }}
  </div>
  {% endfor %}
  {% endfor %}
</div>
{% endif %}