{% extends "_base.html" %}
{% load latest_products %}
{% load slider_products %}

{% load static %}

{% block title %}
صفحه اصلی
{% endblock title %}

{% block body %}

  <!-- ========== MAIN CONTENT ========== -->
  <main id="content" role="main">


    <!-- Hero -->
    {% comment %} slider {% endcomment %}
    {% show_slider_products %}
    {% comment %} slider {% endcomment %}
    <!-- End Hero -->

    <!-- Icon Blocks -->
    <div class="border-bottom">
      <div class="container content-space-2">
        <div class="row">
          <div class="col-md-4 mb-7 mb-md-0">
            <!-- Icon Block -->
            <div class="d-flex">
              <div class="flex-shrink-0">
                <img class="ps-2 avatar avatar-4x3" src="{% static 'svg/illustrations/oc-protected-card.svg' %}"
                  alt="Image Description">
              </div>
              <div class="flex-grow-1 ms-4">
                <h4 class="mb-1">تسویه حساب ایمن</h4>
                <p class="small mb-0">تسویه حساب مطمئن تضمینی</p>
              </div>
            </div>
            <!-- End Icon Block -->
          </div>
          <!-- End Col -->

          <div class="col-md-4 mb-7 mb-md-0">
            <!-- Icon Block -->
            <div class="d-flex">
              <div class="flex-shrink-0">
                <img class="ps-2  avatar avatar-4x3" src="{% static 'svg/illustrations/oc-return.svg' %}"
                  alt="Image Description">
              </div>
              <div class="flex-grow-1 ms-4">
                <h4 class="mb-1">30 روز بازگشت</h4>
                <p class="small mb-0">پیشنهاد ما به شما بازپرداخت کامل ظرف 30 روز پس از خرید است.</p>
              </div>
            </div>
            <!-- End Icon Block -->
          </div>
          <!-- End Col -->

          <div class="col-md-4">
            <!-- Icon Block -->
            <div class="d-flex">
              <div class="flex-shrink-0">
                <img class="ps-2 avatar avatar-4x3" src="{% static 'svg/illustrations/oc-truck.svg' %}"
                  alt="Image Description">
              </div>
              <div class="flex-grow-1 ms-4">
                <h4 class="mb-1">ارسال رایگان</h4>
                <p class="small mb-0">حمل و نقل استاندارد رایگان را به صورت خودکار در هر سفارش دریافت کنید.</p>
              </div>
            </div>
            <!-- End Icon Block -->
          </div>
          <!-- End Col -->
        </div>
        <!-- End Row -->
      </div>
    </div>
    <!-- End Icon Blocks -->

    <!-- Card Grid -->
    <div class="container content-space-2 content-space-lg-3">
      <!-- Heading -->
      <div class="w-md-75 w-lg-50 text-center mx-md-auto mb-5 mb-md-9">
        <h2>خرید بهترین محصولات در فروشگاه</h2>
      </div>
      <!-- End Heading -->

      <div class="row mb-2">
        <div class="col-sm-6 col-md-4 mb-4">
          <!-- Card -->
          <div class="card card-bordered shadow-none overflow-hidden">
            <div class="card-body d-flex align-items-center border-bottom p-0">
              <div class="w-65 border-end">
                <img class="img-fluid" src="{% static 'img/380x400/img3.jpg' %}" alt="Image Description">
              </div>
              <div class="w-35">
                <div class="border-bottom">
                  <img class="img-fluid" src="{% static 'img/380x360/img8.jpg' %}" alt="Image Description">
                </div>
                <img class="img-fluid" src="{% static 'img/380x360/img7.jpg' %}" alt="Image Description">
              </div>
            </div>

            <div class="card-footer text-center">
              <h3 class="card-title">تی شرت</h3>
              <a class="btn btn-outline-primary btn-sm btn-transition rounded-pill px-6" href="{% url "shop:product_list" %}">مشاهده همه</a>
            </div>
          </div>
          <!-- End Card -->
        </div>
        <!-- End Col -->

        <div class="col-sm-6 col-md-4 mb-4">
          <!-- Card -->
          <div class="card card-bordered shadow-none overflow-hidden">
            <div class="card-body d-flex align-items-center border-bottom p-0">
              <div class="w-65 border-end">
                <img class="img-fluid" src="{% static 'img/380x400/img4.jpg' %}" alt="Image Description">
              </div>
              <div class="w-35">
                <div class="border-bottom">
                  <img class="img-fluid" src="{% static 'img/380x360/img6.jpg' %}" alt="Image Description">
                </div>
                <img class="img-fluid" src="{% static 'img/380x360/img5.jpg' %}" alt="Image Description">
              </div>
            </div>

            <div class="card-footer text-center">
              <h3 class="card-title">پوشش های فنی</h3>

              <a class="btn btn-outline-primary btn-sm btn-transition rounded-pill px-6" href="{% url "shop:product_list" %}">مشاهده همه</a>
            </div>
          </div>
          <!-- End Card -->
        </div>
        <!-- End Col -->

        <div class="col-sm-6 col-md-4 mb-4">
          <!-- Card -->
          <div class="card card-bordered shadow-none overflow-hidden">
            <div class="card-body d-flex align-items-center border-bottom p-0">
              <div class="w-65 border-end">
                <img class="img-fluid" src="{% static 'img/380x400/img2.jpg' %}" alt="Image Description">
              </div>
              <div class="w-35">
                <div class="border-bottom">
                  <img class="img-fluid" src="{% static 'img/380x360/img4.jpg' %}" alt="Image Description">
                </div>
                <img class="img-fluid" src="{% static 'img/380x360/img3.jpg' %}" alt="Image Description">
              </div>
            </div>

            <div class="card-footer text-center">
              <h3 class="card-title">کلاه</h3>

              <a class="btn btn-outline-primary btn-sm btn-transition rounded-pill px-6" href="{% url "shop:product_list" %}">مشاهده همه</a>
            </div>
          </div>
          <!-- End Card -->
        </div>
        <!-- End Col -->
      </div>
      <!-- End Row -->

      <div class="text-center">
        <p class="small">فروش ویژه محصولات برای مدت زمانی محدود</p>
      </div>
    </div>
    <!-- End Card Grid -->


    <!-- Card Grid -->
    {% comment %} latest products {% endcomment %}
    {%  show_latest_products %}

    
  </main>
  <!-- ========== END MAIN CONTENT ========== -->
{% endblock body %}
