{% extends "dashboard/admin/base.html" %}
{% load static %}


{% block extra_css %}
<style>
  .table-responsive {
    overflow-x: auto;
  }
  .table th, .table td {
    text-align: center;
  }
  .table .btn {
    margin: 0 2px;
  }
</style>

{% endblock extra_css %}

{% block admin_dashboard_body %}
<div class="col-lg-9">
    <!-- Card -->
    <div class="card">
      <!-- Header -->
      <div class="card-header border-bottom">
        <div class="d-flex justify-content-between align-items-center">
          <h5 class="">لیست تیکت ها</h5>
        </div>
      </div>
      <!-- End Header -->

      <!-- Body -->
      <div class="card-body">
        <div class="container pb-5">
          <form class="row" action='.'>
            

            <!-- Input Card -->
            <div class="col-md-6 py-1">
              <input type="text" class="form-control" placeholder="جستجوی" aria-label="جستجوی ایمیل" id="ticketname" name="ticket-name">

            </div>
            <!-- End Input Card -->
            
            <!-- New Filter for Published Status -->
            <div class="col-md-6 py-1">
              <select class="form-select" name="isresolved" id="isresolvedSelect">
                <option value="" selected>وضعیت پیگیری</option>
                <option value="1">رسیدگی شده</option>
                <option value="0">عدم رسیدگی</option>
              </select>
            </div>
            <!-- End New Filter -->
            <div class="col-12 col-md-6 col-lg-4 d-flex justify-content-center p-3 mx-auto">
              <button type="submit" class="btn btn-primary mx-2">
                <i class="bi bi-search"></i>
              </button>
              <a class="btn btn-secondary" href="{% url 'dashboard:admin:tickets' %}">
                <i class="bi bi-trash"></i>
              </a>
            </div>

          </form>

        </div>

        <div class="row">
          <!-- Table -->
          <div class="container-fluid">
            <!-- Wrap the table with table-responsive -->
            <span>
              تعداد تیکت:  {{ticket_count}}
            </span>
            <div class="table-responsive">
                <table class="table table-bordered table-striped table-hover">
                    <thead class="thead-light">
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">نام کاربر</th>
                            <th scope="col">ایمیل</th>
                            <th scope="col">جواب داده شده</th>
                            <th scope="col">زمان</th>
                            <th scope="col">عملیات</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for ticket in tickets %}
                        <tr class="text-center">
                            <th scope="row">{{ ticket.id }}</th>
                            <td>{{ ticket.name }}</td>
                            <td>{{ ticket.email }}</td>
                            {% if ticket.is_resolved %}
                            <td><span class="badge bg-success">جواب داده شده</span></td>
                            {% else %}
                            <td><span class="badge bg-danger">عدم رسیدگی</span></td>
                            {% endif %}
                            
                            <td>{{ticket.created_at}}</td>
                            
                            <td>
                                <a class="btn btn-sm btn-outline-secondary" href="{% url 'dashboard:admin:ticket_update' ticket.pk %}" title="ویرایش"><i class="bi bi-pencil-square"></i></a>
                                {% if ticket.is_published %}
                                <a class="btn btn-sm btn-outline-primary" href="{% url 'shop:product_detail' product.slug %}" title="مشاهده"><i class="bi bi-eye"></i></a>
                                {% endif %}
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
          </div>
    
         


          {% include "includes/pagination.html" %}
          



        </div>
        <!-- End Row -->

      </div>
      <!-- End Body -->
    </div>
    <!-- End Card -->
  </div>
  <!-- End Col -->
{% endblock admin_dashboard_body %}

{% block extra_js %}
<script>
  $("#adminTickets").addClass('active');

  $(document).ready(function() {
      setTimeout(function() {
          $('.alert.alert-danger').fadeOut();
      }, 3000);
  });
</script>

<script>
  function getPage(page_number){
    let searchParams = new URLSearchParams(window.location.search)
    searchParams.set('page', page_number)

    window.location.href =  window.location.pathname + "?" + searchParams.toString()

  }

  $(document).ready(function(){
    let searchParams = new URLSearchParams(window.location.search)
    $('#ticketname').val(searchParams.get("ticket-name") || "")
    $('#isresolvedSelect').val(searchParams.get("isresolved") || "")
  });
</script>
{% endblock extra_js %}

{% block breadcrumb %}
<li class="breadcrumb-item">حساب</li>
<li class="breadcrumb-item">
  داشبورد ادمین
</li>
<li class="breadcrumb-item active" aria-current="page">
  تیکت ها
</li>
{% endblock breadcrumb %}
