{% load static %}
<!DOCTYPE html>
<html lang="fa" dir="rtl">

<head>
  <!-- Required Meta Tags Always Come First -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Title -->
  <title>
    {% block title %}{% endblock title %}
  </title>

  <!-- Favicon -->
  <link rel="shortcut icon" href="{% static 'svg/logos/logo-short.svg' %}">

  <!-- Font -->
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap" rel="stylesheet">
  <!-- Font -->

  <!-- CSS Implementing Plugins -->
  <link rel="stylesheet" href="{% static 'css/vendor.min.css' %}">
  <link rel="stylesheet" href="{% static 'vendor/bootstrap-icons/font/bootstrap-icons.css' %}">

  <!-- CSS Front Template -->
  <link rel="stylesheet" href="{% static 'css/theme.min.css' %}">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

  {% block extra_css %}{% endblock extra_css %}
</head>

<body>
  <!-- ========== HEADER ========== -->
  {% include "includes/header.html" %}

  <!-- ========== END HEADER ========== -->

  

  {% if messages %}
    <ul class='list-unstyled' id='massages_list'>
        {% for message in messages %}
            <li class='w-75 mx-auto my-2'>
                <h4 class="alert-{{message.tags}} text-center" style="padding-top: 5px; padding-bottom: 5px; border-radius: 10px;">
                    {{ message }}
                </h4>
            </li>
        {% endfor %}
    </ul>
  {% endif %}


    
  {% comment %} body {% endcomment %}
  {% block body %}{% endblock body %}


  <!-- ========== FOOTER ========== -->
  {% include "includes/footer.html" %}
  <!-- ========== END FOOTER ========== -->

  <!-- ========== SECONDARY CONTENTS ========== -->
  {% include "includes/offcanvas.html" %}
  <!-- ========== END SECONDARY CONTENTS ========== -->




  <!-- JS javascripts -->
  {% include "includes/main_scripts.html" %}



  {% block extra_js %}{% endblock extra_js %}
  
</body>

</html>