{% extends "dashboard/admin/base.html" %}
{% load static %}


{% block admin_dashboard_body %}
<div class="col-lg-9">
    <!-- Card -->
    <div class="card">
      <!-- Header -->
      <div class="card-header border-bottom">
        <h5 class="card-header-title">کد تخفیف {{coupon.code}}</h5>
      </div>
      <!-- End Header -->

      <!-- Body -->
      <form method='post' enctype="multipart/form-data">
        {% csrf_token %}
        <div class="card-body">
            <div class="row d-flex ">

              <div class="col-md-6 mb-3">
                <label for="validationValidInput1">کد:</label>
                {{form.code}}
                {% if form.code.errors %}
                    {% for error in form.code.errors %}
                        <div class="alert alert-danger text-center mt-2">
                            {{ error }}
                        </div>
                    {% endfor %}
                {% endif %}
              </div>

              <div class="col-md-6 mb-3">
                <label for="validationValidInput2">درصد تخفیف</label>
                {{form.discount_percent}}
                {% if form.discount_percent.errors %}
                    {% for error in form.discount_percent.errors %}
                        <div class="alert alert-danger text-center mt-2">
                            {{ error }}
                        </div>
                    {% endfor %}
                {% endif %}
              </div>

              <div class="col-md-6 mb-3">
                <label for="validationValidSelect1">حداکثر تعداد استفاده</label>
                {{form.max_uses}}
                {% if form.max_uses.errors %}
                    {% for error in form.max_uses.errors %}
                        <div class="alert alert-danger text-center mt-2">
                            {{ error }}
                        </div>
                    {% endfor %}
                {% endif %}
              </div>

              <div class="col-md-6 mb-3">
                <label for="validationValidInput3">زمان انقضا</label>
                <input type="datetime-local" id="validationValidInput3" name="expired" class="form-control">

                {% if form.expired.errors %}
                    {% for error in form.expired.errors %}
                        <div class="alert alert-danger text-center mt-2">
                            {{ error }}
                        </div>
                    {% endfor %}
                {% endif %}
              </div>

          </div>
        </div>
        <div class="card-footer">
          <div class=" d-flex pt-5 justify-content-end">
            <a class="btn btn-secondary ms-3" href="{% url 'dashboard:admin:coupons' %}">بازگشت</a>
            <button class="btn btn-primary ms-3" type="submit">ذخیره تغییرات</button>
          </div>
        </div>
      </form>


    <!-- End Body -->
  </div>

  <!-- End Card -->
   
{% endblock admin_dashboard_body %}



{% block extra_js %}
<script>
  $("#adminCoupon").addClass('active');

  $(document).ready(function() {
      setTimeout(function() {
          $('.alert.alert-danger').fadeOut();
      }, 6000);
  });
</script>

{% endblock extra_js %}




{% block breadcrumb %}
<li class="breadcrumb-item">حساب</li>
<li class="breadcrumb-item">
  داشبورد ادمین
</li>

<li class="breadcrumb-item active" aria-current="page">
    ایجاد کد تخفیف
</li>
{% endblock breadcrumb %}
